body{
  text-align: center;
}

h1{
  color: #a31212;
}

h2{
  color: #17068a;
}

h3{
  color: #065c10;
}

h4{
  color: #700163;
}

h5{
  color: #a0b015;
}

h6{
  color: #5e1717;
}

p{
  color: #2b2a2a;
}
